.btn-div {
  text-align: center;
  padding: 0px 30px;
  font-weight: 500;
  max-width: 155px;
  font-size: 14px;
  display: inline-block;
  align-items: center;
}

.inner-btn-div {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.icon > svg {
  font-size: 25px;
  margin-left: 10px;
}

.btn-text {
  font-weight: 400;
}