/* Generic Styles */

h1 {
  margin: 10px 0;
}

.h1-text {
  font-size: 55px;
  line-height: 65px;
  font-weight: 700;
  margin: 0;
}

.h2-text {
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}

.h3-text {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.h4-text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
}

.p-text {
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  font-weight: 300;
}

.text {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* ----------------------- */

/* Section 1 Styles */

.section-01-desktop {
  display: none;
}

.blue-box {
  height: 64px;
  width: 64px;
  background-color: #1355FF;
}

.section-01 > .content-section {
  background-color: #061237;
  color: #fff;
  padding: 80px 0 0 0;
}

.content-section > .container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.content-section .text-div {
  margin: 50px 0;
}

.content-section .btn-div {
  margin: 0 auto;
  text-align: center;
}

.content-section .img-div {
  width: 100%;
}

/* Section 2 Styles */

.section-02 {
  color: #061237;
  text-align: center;
  padding: 20px 0;
}

.section-02 .container, .section-03 .container {
  width: 90%;
  margin: 0 auto;
}

.partner-logos {
  display: flex;
  flex-direction: column;
}

/* Section 3 Styles */

.section-03 .text {
  color: #37456C;
  font-size: 18px;
  line-height: 36px;
}
.video-title-div {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  width: 64px;
  background-color: #F7F9FC;
  margin-bottom: 50px;
}

.video-title {
  position: absolute;
  left: 40px;
  width: 100px;
  text-transform: uppercase;
  color: #67718E;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.video {
  position: relative;
}

.video-image-desktop {
  display: none;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-cards {
  position: relative;
  padding-bottom: 80px;
  margin-bottom: 60px;
}

.info-cards-bg {
  z-index: -1;
  position: absolute;
  right: 10px;
  height: 100%;
}

/* Section 4 */
.section-04 {
  background-color: #061237;
  color: #fff;
  padding: 90px 0;
}

.section-04 .container {
  width: 83%;
}

.section-04 .call-to-action {
  text-align: center;
}

/* Section 5 */
.section-05 {
  padding: 70px 0;
}
.section-05 .main-card .h2-text {
  color: #061237;
}
.section-05 .main-card .call-to-action {
  margin-left: 30px;
}

.section-05 .main-card .call-to-action .text {
  font-size: 16px;
  line-height: 32px;
  color: #37456C;
}

/* Section 6 */
.section-06 {
  padding-bottom: 50px;
  margin-bottom: 100px;
}
.features-div {
  margin-bottom: 150px;
}
.features-title {
  height: 64px;
  width: 64px;
  position: relative;
  background-color: #F7F9FC;
  display: flex;
  align-items: center;
}

.features-title h4 {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color:#67718E;
  text-transform: uppercase;
  letter-spacing: 1px;
  left: 25px;
  width: 500px;
}
.features-tagline h1 {
  margin-bottom: 40px;
}
.features-item {
  display: flex;
  gap: 20px;
}
.features-text {
  color: #061237;
}

.our-knowledge-div {
  margin-bottom: 150px;
}

.our-knowledge-text .p-text {
  color: #061237;
  margin-top: 25px;
}


.stamps-info {
  text-align: center;
}

.stamps-img img {
  width: 100%;
}

.designer-info {
  text-align: center;
}

.designer-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.designer-title {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #67718E;
}

.designer-title span {
  color: #1355FF;
}

.toggle {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.left-toggle, .right-toggle {
  height: 40px;
  width: 40px;
  background-color: #F2F3F8;
  position: relative;
  display: flex;
  align-items: center;
}

.left-arrow-icon, .right-arrow-icon {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.designer img {
  width: 100%;
}
/* Section 7 Styles */
.section-07 {
  padding: 50px 0;
}
.resources-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  /* Generic Styles */
  .h1-text {
    font-size: 48px;
    line-height: 56px;
  }
  /* Section 1 Desktop */
  .h1-text-desktop {
    font-size: 64px;
    line-height: 68px;
  }

  .section-01-desktop {
    display: block;
    position: relative;
  }

  .section-01 {
    display: none;
  }

  .section-01-desktop {
    margin: 0 auto;
  }

  .section-01-desktop .top-section {
    height: 64px;
    width: 64px;
    background-color: #1355FF;
  }

  .top-section {
    margin-left: 10%;
  }


  .main-section {
    display: flex;
  }

  .left-section {
    flex: 2;
  }

  .right-section {
    position: relative;
    flex: 1;
  }

  .main-section .left-section {
    background-color: #061237;
    color: #ffffff;
  }
  .left-section-text {
    margin-left: 20%;
    width: 60%;
    padding: 80px 0;
  }

  .below-main-text {
    display: flex;
    gap: 15px;
  }

  .right-section .blue-div {
    background-color: #1355FF;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -64px;
  }

  .below-main-section {
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .below-main-section .scroll-for-more {
    padding: 25px 0;
    background-color: #F7F9FC;
    flex: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
  }

  .scroll-for-more p, .scroll-for-more i {
    color: #B6BCCE;
  }
  .scroll-for-more p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.5px;
  }

  .below-main-section .blue-section {
    flex: 2;
    background-color: #1355FF;
  }

  .ceo-section {
    position: absolute;
    right: 8%;
    top: 12%;
  }

  .ceo-image {
    position: relative;
  }

  .ceo-quote {
    box-sizing: border-box;
    width: 336px;
    height: 288px;
    padding: 30px;
    background-color: #fff;
    position: absolute;
    bottom: 5px;
    right: -50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p.ceo-quote-text {
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
  }

  .ceo-name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
  }

  .ceo-title {
    color: #67718E;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 2px 0;
  }

  .ceo-title span {
    color: #1355FF;
  }

  /* Section 2 Desktop Styles */
  .section-02 .container, .section-03 .container, .section-04 .container, .section-05 .container,
  .section-06 .container, .section-07 .container {
    width: 70%;
    margin: 0 auto;
  }
  .partner-logos {
    flex-direction: row;
  }

  .section-02 .data-analytics {
    display: flex;
    flex-direction: row;
    margin: 40px 0;
  }

  /* Section 3 Desktop Styles */
  .section-03 .video-title-div {
    margin-bottom: 0;
  }

  .video .video-image {
    display: none;
  }

  .video .video-image-desktop {
    display: block;
  }

  .video-main-div .text {
    margin-left: 50%;
    font-weight: 300;
  }

  .video-main-div {
    margin-bottom: 100px;
  }

  .below-video-main-div {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .below-video-main-div > * {
    flex: 1;
  }

  /* Section 4 Desktop */
  .section-04 .call-to-action {
    display: flex;
    justify-content: space-between;
  }

  .ways-to-work-flex {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .section-05 .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
  }

  .section-05 .container > * {
    flex: 1;
  }

  /* Section 6 Styles */
  .section-06 .features-div {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .section-06 .features-div > *, .section-06 .our-knowledge-div > *, .section-06 .stamps > * {
    flex: 1;
  }

  .section-06 .our-knowledge-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    align-items: center;
  }

  .section-06 .stamps {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  /* Section 7 Desktop Styling */
  .section-07 .articles-div {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .section-07 .resources-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
